<h2>Welcome <%= @first_name %></h2><br>

<% @spaces.each do |space| %>
  <%= space.name %>
  <form action="/book" method="post">
    <input type="hidden" name="space" value="<%= space.name %>">
    <input type="submit" value="Book <%= space.name %>">
  </form><br>
<% end %>
